/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

.section {
    padding: 40px 0;
}

.portfolio-item {
    margin-bottom: 40px;
    overflow: hidden; /* Clear floats */
}

.project-info {
    float: left;
    width: calc(100% - 150px); /* Adjust width as needed */
}

.portfolio-item img {
    float: right;
    max-width: 150px; /* Adjust image width as needed */
    height: auto;
    border-radius: 5px;
    margin-left: 20px; /* Adjust margin as needed */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#projects-container {
    max-height: 400px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: "gray";
    transition: background-color 0.3s ease; /* Add transition for smooth background color change */
}
